@font-face {
    font-family: Monserrat-light;
    src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: Monserrat-regular;
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: Monserrat-heirline;
    src: url(../fonts/Montserrat-Hairline.otf);
}
@font-face {
    font-family: Monserrat-ultralight;
    src: url(../fonts/Montserrat-UltraLight.otf);
}