#about {
	font-size: 15px;
	color: #010101;
	line-height: 1.4;
	background: #f2f2f2;
	.title-section {
		font-family: 'Monserrat-ultralight';
		font-size: 38px;
		text-transform: uppercase;
	}
	.title-section,
	p {
		padding: 25px 25px 0 30px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.bg-yellow {
		background: #eee657; /* Old browsers */
		background: -moz-linear-gradient(-45deg,  #eee657 0%, #debe06 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  #eee657 0%,#debe06 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  #eee657 0%,#debe06 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee657', endColorstr='#debe06',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
	.quote {
		font-family: 'Monserrat-light';
		font-size: 14px;
		font-style: italic;
	}
	.fb-posts-bg {
		position: relative;
		min-height: 700px;
		background: #333333; /* Old browsers */
		background: -moz-linear-gradient(-45deg,  #333333 0%, #010101 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  #333333 0%,#010101 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  #333333 0%,#010101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#010101',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	.col-left {
		width: 385px;
		vertical-align: bottom;
	}
	.col-center {
		width: 385px;
		vertical-align: bottom;
		vertical-align: bottom;
	}
	.col-right {
		width: 370px;
		padding: 0 0 0 30px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		vertical-align: bottom;
	}
	.icon-quote:before {
		margin: 0 0 15px 0;
	}
	.author {
		font-size: 14px;
		color: #666;
		font-style: italic;
		padding: 0 0 10px 30px;
	}

	.fb-posts-bg {
		color: #fff;
		padding: 50px 27px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		h2 {
			font-family: 'Monserrat-ultralight';
		    font-size: 24px;
		    color: #fff;
		    text-transform: uppercase;
		    font-weight: 100;
		    margin: 30px 0 0 0;
		    border-bottom: 1px solid #fff;
		    &:after {
		    	display: block;
			    content: '';
			    width: 50px;
			    height: 3px;
			    background: #fff;
			    margin: 10px 0 0 0;
		    }
		}
		.post {
			padding: 10px 0;
			border-bottom: 1px dashed #666;
			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.fb-post-img {
		float: left;
		width: 58px;
		height: 58px;
		border: 2px solid #fff;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		overflow: hidden;
		margin: 10px 10px 0 0;
		img {
			display: block;
			max-height: 100%;
		}
	}
	.fb-post-date {
		font-family: 'Monserrat-light';
		font-size: 12px;
		margin: 10px 0;
	}
	.fb-post-title {
		font-family: 'Monserrat-regular';
		font-size: 14px;
		margin: 10px 0;
	}
	.fb-post-text {
		font-family: 'Monserrat-ultralight';
		font-size: 14px;
		margin: 10px 0;
	}

	.social-action {
		position: absolute;
		bottom: 0;
		height: 70px;
		line-height: 70px;
		border-top: 1px solid #fff;
		width: 100%;
		padding: 0 0 0 15px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		span {
			font-family: 'Monserrat-ultralight';
		    font-size: 15px;
		    color: #fff;
		}
		ul, li, span {
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
		}
	}
	
}