#agenda {
	background: url('../img/bg/agenda.jpg') no-repeat center top;
	background-size: cover;
	padding: 200px 0 0 0;
	.agenda-wrapper {
		width: 1030px;
	}
	h2 {
		font-family: 'Monserrat-ultralight';
		font-size: 38px;
		color: #fff;
		font-weight: 100;
		text-transform: uppercase;
		margin: 0 0 20px 0;
	}
	.sync-link {
		font-family: 'Monserrat-ultralight';
		font-size: 14px;
		color: #fff;
		font-weight: 100;
		&:before {
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 0 0;
		}
	}
	.current-event {
		display: table;
		width: 600px;
		margin: 0 0 0 15px;
		padding: 30px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		vertical-align: bottom;
	}
	.current-event-date {
		width: 90px;
		height: 90px;
		line-height: 90px;
		color: #174b7e;
		text-align: center;
		border: 2px solid #174b7e;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}
	.current-event-content {
		font-family: 'Monserrat-regular';
		width: 426px;
    	margin: 0 0 0 20px;
	}
	.current-event-title {
		font-size: 20px;
		color: #333333;
		text-transform: uppercase;
		font-weight: 100;
		margin: 10px 0 0 0;
	}
	.current-event-text {
		font-size: 14px;
		color: #333333;
		font-weight: 100;
		margin: 10px 0;
	}
	.current-event-place {
		font-size: 14px;
		color: #333333;
		font-weight: 100;
		margin: 10px 0 0 0;
	}
	.current-event-hour {
		font-size: 14px;
		color: #333333;
		font-weight: 100;
		margin: 0 0 10px 0;
	}
	.calendar-wrapper- {
		vertical-align: bottom;
	}
	.calendar-inner {
		width: 370px;
		height: 480px;
		margin: 0 45px 0 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0078b4+0,005078+100 */
		background: #0078b4; /* Old browsers */
		background: -moz-linear-gradient(-45deg,  #0078b4 0%, #005078 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  #0078b4 0%,#005078 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  #0078b4 0%,#005078 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078b4', endColorstr='#005078',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.calendar {
		font-family: 'Monserrat-ultralight';
		color: #fff;
		padding: 20px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		h2 {
			margin: 0;
		}
	}
	.fc-center {
		width: 170px;
	}
	.fc td, 
	.fc th {
		border: 0 none;
	}
	.fc-ltr .fc-basic-view .fc-day-number {
		font-family: 'Monserrat-regular';
		font-size: 20px;
		text-align: center;
		/* border: 3px solid #fff;
		-webkit-border-radius: 15px;
		border-radius: 15px; */
	}
	.fc-unthemed .fc-today{
		background: none;
		//border: 3px solid #fff;
		background: #023650;
	}

}